section.section-homepage-3.home-page-3
	.container
		.grid-layout
			.grid-row.grid-row-1
				.item.item-text.item-text-1(data-aos="fade-up" data-aos-delay="80" data-aos-duration="650")
					.icon
						span.material-symbols-outlined handshake
					h3.title Đơn vị uy tín – Nền tảng của niềm tin
					.body-3.text-white Đồng hành cùng hàng nghìn công trình, chúng tôi mang đến bê tông chất lượng với minh bạch, đúng tiến độ, đúng tiêu chuẩn — hợp tác một lần, an tâm dài lâu.

				.item.item-image(data-aos="fade-up" data-aos-delay="160" data-aos-duration="650")
					a.img(href="#" class="img-ratio ratio:pt-[320_810]")
						+PugImg("https://picsum.photos/900/520?random=305")
					.content
						h3.title Sản phẩm chất lượng – Vững chắc từng kết cấu
						.body-3.text-white Sản phẩm bê tông và cọc bê tông đạt chuẩn TCVN, được kiểm soát chặt chẽ qua quy trình sản xuất khép kín. Từ nguyên vật liệu đầu vào đến khi xuất trạm, mọi chỉ số đều đảm bảo về cường độ, độ sụt và độ bền, giúp công trình ổn định theo thời gian.

			.grid-row.grid-row-2
				.item.item-image(data-aos="fade-up" data-aos-delay="240" data-aos-duration="650")
					a.img(href="#" class="img-ratio ratio:pt-[320_810]")
						+PugImg("https://picsum.photos/901/520?random=306")
					.content
						h3.title Đội ngũ kỹ thuật – Chính xác trong từng chi tiết
						.body-3.text-white Đội ngũ kỹ sư và kỹ thuật viên giàu kinh nghiệm, am hiểu sâu từ công trình dân dụng đến công nghiệp. Từ thiết kế cấp phối đến giám sát thi công, mọi quy trình đều được thực hiện bài bản, đảm bảo độ chính xác và hiệu quả cao nhất.

				.item.item-text.item-text-2(data-aos="fade-up" data-aos-delay="320" data-aos-duration="650")
					.icon
						span.material-symbols-outlined currency_exchange
					h3.title Chi phí hợp lý – Tối ưu giá trị đầu tư
					.body-3.text-white Chúng tôi không cạnh tranh bằng giá thấp, mà bằng giá trị thực — tối ưu vận hành và nguồn cung để mang đến giải pháp chất lượng, chi phí hợp lý, cân bằng giữa ngân sách và hiệu quả công trình.