section.about-5-section.section-large.relative.z-1.overflow-hidden
	.container
		h2.site-title.text-primary-1.uppercase.text-center Giá trị cốt lõi
		//- .image.text-center.cursor-pointer.mt-10(data-fancybox="" href="./img/gia-tri.png")
		//- 	img(src="./img/gia-tri.png", alt="")
		.about-5-wrap.relative.mt-10
			.image-center.img-contain
				img(src="./img/logoc.png", alt="")
			.about-5-list
				- for(x=1; x<=6; x++)
					.about-5-item
						.icon.img-contain
							img(src="./img/1.jpg", alt="")
						.caption
							h3.title Chính trực
							.desc
								p Minh bạch trong lời nói và hành động, lấy đạo đức làm nền tảng.