section.section-business(class="xl:rem:pb-[58px] xl:rem:pt-[80px] py-10" setBackground="./img/bg-value.png")
	.container
		.wrap-title 
			.title(class="heading-1 text-white font-bold mb-6") Triết Lý Kinh Doanh
			.title-linear Triết Lý Kinh Doanh
		.sub-title(class="text-white font-bold") Thương hiệu tiên phong trong việc ứng dụng các giải pháp nhôm
		.wrapper(class="grid lg:grid-cols-5 md:grid-cols-3 grid-cols-2 gap-base xl:rem:mt-[180px] mt-base")
			-for(var i = 0; i < 5; i++)
				.item(class="text-white")
					.number(class="rem:text-[60px] font-bold mb-4") 02
					h3(class="title heading-3 mb-4 font-bold") Cải Tiến 
					.desc(class="body-1 font-normal text-justify")
						p Chúng tôi coi “An toàn cho khác hàng” là quan tâm hàng đầu trong việc cung câp dịch vụ khai thác mỏ, nổ mìn và vận chuyển VLNCN 