section.home-5(class="section-py home-item-animation")
	.slide
		.swiper-column-auto(class="relative swiper-loop autoplay" data-time="0" data-speed="2000")
			.swiper 
				.swiper-wrapper
					-for(i=0;i<30;i++)
						.swiper-slide
							.item
								.img(class="img-ratio ratio:pt-[96_192]")
									+PugImg("./img/partner.png")