extends ./_layout/_default.pug
	
block var
	- var title = ''
	- var bodyClass = ''
	
block main
	include ../components/modules/HomePage/HomePage-1/HomePage-1
	include ../components/modules/HomePage/HomePage-2/HomePage-2
	include ../components/modules/HomePage/HomePage-3/HomePage-3
	include ../components/modules/HomePage/HomePage-4/HomePage-4
	include ../components/modules/HomePage/HomePage-5/HomePage-5
	include ../components/modules/HomePage/HomePage-6/HomePage-6
	include ../components/modules/HomePage/HomePage-7/HomePage-7
	include ../components/modules/HomePage/HomePage-8/HomePage-8
	include ../components/modules/HomePage/HomePage-9/HomePage-9
	include ../components/modules/HomePage/HomePage-10/HomePage-10