section.home-6(class="section-py")
	.container.default-container-js
		h2(class="heading-1 block-title text-Primary-1 text-center mb-8 uppercase") TÀI LIỆU
		.wrap-tabslet(data-toggle="tabslet")
			ul.tabslet-tab.nav-primary(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200")
				li.active
					a(href="#tab1") TẤT CẢ
				li
					a(href="#tab2") CATALOUGE
				li
					a(href="#tab3") TÀI LIỆU KĨ THUẬT
			.tabslet-content.active#tab1
				.slide(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400")
					.swiper-column-auto.relative(data-name-window="swiperMagazine-1")
						.swiper
							.swiper-wrapper
								-for(var i = 0; i < 10; i++)
									.swiper-slide
										+DocItem()
						.hidden 
							.swiper-pagination
						.wrap-indicator(class="flex items-center gap-5 lg:gap-10")
							.wrap-slider-pagination(class="flex-1")
								#slider-pagination-range
							+IndicatorSwiper()
			.tabslet-content#tab2
				.slide
					.swiper-column-auto.relative(data-name-window="swiperMagazine-2")
						.swiper
							.swiper-wrapper
								-for(var i = 0; i < 10; i++)
									.swiper-slide
										+DocItem()
						.hidden 
							.swiper-pagination
						.wrap-indicator(class="flex items-center gap-5 lg:gap-10")
							.wrap-slider-pagination(class="flex-1")
								#slider-pagination-range
							+IndicatorSwiper()
			.tabslet-content#tab3
				.slide
					.swiper-column-auto.relative(data-name-window="swiperMagazine-3")
						.swiper
							.swiper-wrapper
								-for(var i = 0; i < 10; i++)
									.swiper-slide
										+DocItem()
						.hidden 
							.swiper-pagination
						.wrap-indicator(class="flex items-center gap-5 lg:gap-10")
							.wrap-slider-pagination(class="flex-1")
								#slider-pagination-range
							+IndicatorSwiper()
