section.home-4
	.container-fluid
		+HeadingTitle("Our Services").text-Primary-1.mb-base
section.home-overview-section(setBackground="./img/home-overview-bg.png")
	.overview-cover-img
		img(src="./img/3.png", alt="")
	.container-fluid
		.home-overview-list
			.home-overview-item(setBackground="./img/3.png" data-background-image="./img/3.png")
				.content-wrapper
					.caption
						h3.title Private Equity
						.toggle-hidden
							div
								.wrap-content
									.format-content
										p Engineering lasting value beyond capital. Through deep partnership and active ownership, our service transforms promising businesses into market leaders. From deal structuring to portfolio enhancement, applying a safety‑first approach that transforms promising businesses into market leaders—through disciplined execution, not speculation.
									.wrap-btn 
										a(href="#" class="btn btn-primary style-transparent")
											span Read more
											.icon
			.home-overview-item(setBackground="./img/4.png" data-background-image="./img/4.png")
				.content-wrapper
					.caption
						h3.title Private Equity
						.toggle-hidden
							div
								.wrap-content
									.format-content
										p Engineering lasting value beyond capital. Through deep partnership and active ownership, our service transforms promising businesses into market leaders. From deal structuring to portfolio enhancement, applying a safety‑first approach that transforms promising businesses into market leaders—through disciplined execution, not speculation.
									.wrap-btn 
										a(href="#" class="btn btn-primary style-transparent")
											span Read more
											.icon
			.home-overview-item(setBackground="./img/4.png" data-background-image="./img/4.png")
				.content-wrapper
					.caption
						h3.title Private Equity
						.toggle-hidden
							div
								.wrap-content
									.format-content
										p Engineering lasting value beyond capital. Through deep partnership and active ownership, our service transforms promising businesses into market leaders. From deal structuring to portfolio enhancement, applying a safety‑first approach that transforms promising businesses into market leaders—through disciplined execution, not speculation.
									.wrap-btn 
										a(href="#" class="btn btn-primary style-transparent")
											span Read more
											.icon
			.home-overview-item(setBackground="./img/3.png" data-background-image="./img/3.png")
				.content-wrapper
					.caption
						h3.title Private Equity
						.toggle-hidden
							div
								.wrap-content
									.format-content
										p Engineering lasting value beyond capital. Through deep partnership and active ownership, our service transforms promising businesses into market leaders. From deal structuring to portfolio enhancement, applying a safety‑first approach that transforms promising businesses into market leaders—through disciplined execution, not speculation.
									.wrap-btn 
										a(href="#" class="btn btn-primary style-transparent")
											span Read more
											.icon