.btn
	@apply cursor-pointer select-none transition-all duration-300
	&.loading
		@apply bg-transparent #{!important}
		span,.icon
			@apply opacity-0
		&::before
			content: ''
			animation-duration: 0.5s
			@apply w-5 h-5 border-3 border-white/40 border-t-white rounded-full inline-block
			@apply absolute animate-spin
	&.btn-sw-1
		@apply sq-10 rounded-full  flex-center bg-transparent bg-white border-transparent
		&::before
			@apply font-awesome font-normal text-Primary-1 body-1 transition-all duration-300
		&.btn-prev
			&::before
				content: '\ef7d'
				font-family: 'Material Symbols Outlined'
		&.btn-next
			&::before
				content: '\e941'
				font-family: 'Material Symbols Outlined'
		&:hover
			@apply bg-Primary-1 border-Primary-1
			&::before
				@apply text-Utility-white

	// button chạy icon sang trái
	// +BtnPrimary({option:"style-white"})
	&.btn-primary
		@apply rem:h-[48px] inline-flex items-center justify-center md:px-6 px-3 rounded-1 gap-2.5 font-normal bg-Primary-1 border-Primary-1 text-white transition-all duration-300
		@apply hover:bg-Primary-2 hover:border-Primary-2
		@apply text-white
		> *
			@apply transition-all duration-300
		&.style-default
			@apply bg-transparent border-2 border-Utility-gray-950-maintext text-Utility-gray-950-maintext
			span
				@apply text-Utility-gray-950-maintext
			&:hover
				@apply bg-Primary-2 border-Primary-2 text-white
		&.style-default-white
			@apply bg-transparent border-2 border-Utility-white text-Utility-white
			span
				@apply text-Utility-white
			&:hover
				@apply bg-Primary-2 border-Primary-2
		&.white
			@apply border
		&.rounded
			@apply rounded-full
		&.style-transparent
			@apply bg-transparent border border-transparent text-white px-0
			@apply border-b rounded-none h-auto
			span
				@apply text-white border-Utility-gray-100
			.icon
				&::before,&::after
					@apply text-white
			// &:hover
			// 	@apply bg-transparent border-transparent
			// 	@apply shadow-none border-b-white
		&:hover
			// @apply text-white shadow-Shadow-1 bg-Primary-1
			.icon
				&::before, &::after
					@apply text-white
					@apply translate-x-full opacity-0
				&::after
					@apply translate-x-0 opacity-100 font-bold
			span
				@apply text-white
		span
			@apply rem:text-[16px] font-normal text-white leading-[1.25]
			&.material-symbols-outlined
				@apply rem:text-[20px]
		i
			@apply flex-center rem:w-[24px] relative overflow-hidden h-8 bg-transparent text-Primary-1
			&::before,&::after
				content: '\f061'
				@apply font-awesome text-xl inline-block transition-all absolute font-normal leading-none duration-300
			&::after
				@apply -translate-x-full opacity-0
				
				
	// button outline
	
	// button border linear
	&.btn-linear
		border-image-source: linear-gradient(95deg, #005060 0.53%, #006766 26.9%, #07A226 58.42%, #64C604 87.82%)
		border-image-slice: 1
		@apply sq-15 py-2 px-5  flex-center bg-transparent border
		@screen -md
			@apply w-[2.125rem] h-[2.125rem]
		&::before, &::after
			@apply font-awesome text-Primary-1  font-extrabold text-2xl
			@screen -md
				@apply text-[0.9625rem]
		&.btn-prev
			&::before
				content: '\f30a'
				@apply transition-all duration-300
			&::after
				content: '\f30a'
				@apply font-awesome inline-block transition-all absolute leading-none duration-300
				@apply translate-x-full opacity-0
		&.btn-next
			&::before
				content: '\f30b'
				@apply font-awesome  transition-all duration-300
			&::after
				content: '\f30b'
				@apply font-awesome inline-block transition-all absolute leading-none duration-300
				@apply -translate-x-full opacity-0
		&:hover
			background: linear-gradient(95deg, #005060 0.53%, #006766 26.9%, #07A226 58.42%, #64C604 87.82%)
			&::before,&::after
				@apply text-Utility-white
			&.btn-next
				&::after
					@apply translate-x-0 opacity-100
				&::before
					@apply -translate-x-full opacity-0
			&.btn-prev
				&::after
					@apply translate-x-0 opacity-100
				&::before
					@apply -translate-x-full opacity-0