section.page-banner-main
	.img(class="img-ratio pt-[calc(960/1920*100rem)]")
		+PugImg()
	.content 
		.container
			.global-breadcrumb
				nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
					p
						a(href="https://oracle.webcanhcam.vn") Trang chủ
						span(class="separator")  | 
						span(class="last") Services
			h2.title(class="xl:rem:text-[128px] rem:text-[64px] font-bold uppercase text-white mb-3") About us
			.sub-title(class="heading-3 font-semibold text-white") Evolving With the Market: From Capital Experts to Strategic Partners