section.section-homepage-2.home-page-2(class="section-py")
	.container
		.wrapper(class="grid lg:grid-cols-[1fr_calc(633/1400*100%)] lg:items-center")
			.col-content(data-aos="fade-right" data-aos-delay="100" data-aos-duration="700")
				h2.block-title.heading-52 NHÀ MÁY CẤU KIỆN BÊ TÔNG CÔNG NGHỆ CAO ĐẠI DƯƠNG
				.desc 
					p Chúng tôi – Nhà máy Cấu kiện Bê tông CNC Đại Dương – tự hào là đơn vị trực thuộc hệ sinh thái khép kín của Công ty CP Đầu tư Khoáng sản Đại Dương, được đầu tư bài bản, quy mô lớn với công nghệ hiện đại bậc nhất trong lĩnh vực bê tông đúc sẵn.
					p Với dây chuyền thiết bị đồng bộ, sản lượng lớn, hệ thống cảng biển và nhà máy xi măng đi kèm, chúng tôi cam kết cung cấp cho khách hàng các sản phẩm chất lượng cao, tiến độ nhanh, giá thành cạnh tranh.
				.wrap-btn.mt-10
					+BtnPrimary({ text: "Kham pha them", option: "style-default" })(class="rounded")
			.col-image(data-aos="fade-left" data-aos-delay="250" data-aos-duration="700")
				a.img(href="#" class="img-ratio ratio:pt-[550_633]")
					+PugImg("./img/intro_image_group.png")
